.autocomplete-items {
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    background: white;
    overflow: auto;
    max-height: 200px;
    z-index: 99999999;
}

.autocomplete-items li {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items li:hover {
    background-color: #e9e9e9;
}